<!DOCTYPE html>
<html>
<head>
  <title>Forums</title>
</head>
<body>
  <div class="header">
    <h1>Welcome Home</h1>
  </div>
  <div class="wrapper">
    <div>
      <p>
        New User?<br>
        <%= link_to "Sign Up!", new_user_path %>
      </p>
    </div>
  </div>

</body>
</html>
